<h1>New Comment for <%= @story.title %></h1>
<%= form_for [@story, @comment] do |f| %>
  <fieldset>
    <%= f.label :body, "Comment" %>
    <%= f.text_area :body %>
  </fieldset>
  <%= f.submit "Submit" %>
<% end %>